<ng-container *ngIf="!isEditing; else editableCard">
  <mat-card class="m-5 p-2 bg-slate-400">
    <mat-card-header>
      <mat-card-title>{{ chore.title }}</mat-card-title>
      <mat-card-subtitle
        >Cleaning Style: {{ chore.cleaningStyle }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      [ngSrc]="chore.imgUrl"
      alt="{{ chore.altText }}"
      class="m-3 rounded-md h-60"
      width="460"
      height="240"
    />
    <mat-card-content>
      <p class="p-3">{{ chore.content }}</p>
    </mat-card-content>
    <mat-card-actions class="flex justify-end gap-3">
      <button mat-fab (click)="isEditing = true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab (click)="deleteChoreClicked.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #editableCard>
  <add-edit-form
    [chore]="chore"
    (saveClicked)="updateChoreClicked.emit($event)"
  ></add-edit-form>
</ng-template>
