<mat-card class="m-5 p-2 bg-slate-400">
  <mat-card-header>
    <mat-card-title>Mopping Floors</mat-card-title>
    <mat-card-subtitle>Cleaning</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/517q33tDqTL.jpg"
    alt="Photo of Shark steam mop"
    class="rounded-md m-2"
  />
  <mat-card-content>
    <p>Mop all floors with steam mop.</p>
  </mat-card-content>
  <mat-card-actions class="flex gap-2">
    <button mat-fab>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
